{% extends "base.html" %}
{% load static %}


<body>
    <main>
        <section class="artists">
            {% block content %}

            <header>
                <h3 class="mt-5">ARTISTS</h3>

                <h4>Browse a selection of popular artists</h4>
         
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-12 g-4">

                        <div class="card bg-dark text-white">
                            <a href="#">
                                <img src="..." class="card-img" alt="...">
                            </a>
                                <div class="card-img-overlay">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                    </div>
                                </div>
                            
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4 col-12 g-4">
                        <div class="card bg-dark text-white">
                            <a href="#">
                                <img src="..." class="card-img" alt="...">
                            </a>
                                <div class="card-img-overlay">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                    </div>
                                </div>
                            
                        </div>


                    </div>

                    <div class="col-md-3 col-sm-4 col-12 g-4">
                        <div class="card bg-dark text-white">
                            <a href="#">
                                <img src="..." class="card-img" alt="...">
                            </a>
                                <div class="card-img-overlay">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                    </div>
                                </div>
                            
                        </div>


                    </div>

                    <div class="col-md-3 col-sm-4 col-12 g-4">

                        <div class="card bg-dark text-white">
                            <a href="#">
                                <img src="..." class="card-img" alt="..."></a>
                                <div class="card-img-overlay">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                    </div>
                                </div>
                                
</div>

                    </div>


                </div>

            </div>

            {% endblock %}
        </section>
    </main>

</body>
