

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
}

.container  {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

input:placeholder-shown  {
    text-overflow: ellipsis; 
    font-style: italic;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5rem;
    text-align: center; 
}

h3 {
    font-size: 2.6rem;
    line-height: 1.6;
    color: black;
    padding: 25px 25px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
    padding: 25px 25px;
    font-family: 'Poppins', sans-serif;
}


.masthead {
    background-size: cover;
    min-height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.colour-overlay  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
    justify-content: center;
    display: flex;
}


.btn.btn-primary  {
    border-radius: 0;
    height: 50px;
}

https://github.com/paulad8/colourify.git
